body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #242e38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.page-container {
  margin: 2rem 4rem;
}
